<div style="margin-top: 10px;">
  <div class="custom-file">
    o multiple no input faz com que nos podemos colocar mais de um arquivo ao mesmo tempo
    <input type="file" class="custom-file-input" id="customFile" (change)="onChange($event)" multiple>
    <label class="custom-file-label" for="customFile" id="customFileLabel">Choose file</label>
  </div>
  Pra testar, vc tem que colocar algum arquivo aqui mas com o server-nodejs ligado. Dai se o arquivo for uns 20MB, vc vai conseguir ver a barra de progresso

  <div class="progress">
    <!--Aqui ao inves de colocar o estilo normalmente eu seto com data binding style="width: 25%;"-->
    <div class="progress-bar" role="progressbar" [style.width]="progress+'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{progress}}%</div>
  </div>
</div>
<div style="margin-top: 10px;">
  <button type="button" class="btn btn-primary" (click)="onUpload()" [disabled]="!files">Upload</button>
</div>
<div style="margin-top: 10px;">
  <button type="button" class="btn btn-primary" (click)="onDownloadExcel()" >Download Excel</button>
  <button type="button" class="btn btn-primary" (click)="onDownloadPdf()" >Download Pdf</button>

</div>
